<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:name=".BiophonieApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <activity android:name=".feature.addgeopoint.RecSoundActivity"
            android:windowSoftInputMode="adjustResize"
            android:resizeableActivity="false"/>
        <activity android:name=".feature.firstlaunch.TutorialActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".feature.exploregeopoints.MapActivity"
            android:theme="@style/SplashTheme"
            android:foregroundServiceType="location"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- FileProvider used inside :feature:addgeopoint to record data -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="fr.labomg.biophonie.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="merge">
            <!-- Need to remove WorkManagerInitializer for mapbox init, see:
            https://github.com/mapbox/mapbox-maps-android/issues/1173#issuecomment-1062707575 -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
    </application>

</manifest>